<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597347404405-0fco9i1l2o9f24vvrolec5nj03cir25l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597347404405-0fco9i1l2o9f24vvrolec5nj03cir25l</string>
	<key>API_KEY</key>
	<string>AIzaSyDi71jG4Fy-XCnl4OoQXl6R6kkw611hP20</string>
	<key>GCM_SENDER_ID</key>
	<string>597347404405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirestore</string>
	<key>PROJECT_ID</key>
	<string>firestoredb-35174</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoredb-35174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597347404405:ios:5c87756e3dec1c9d5cc63c</string>
</dict>
</plist>